@model Hotel.ViewModels.OfferRowViewModel

@if (Model is null)
{
    <tr>
        <td>
            <p>Error getting the offer: @ViewBag.ErrorCode.</p>
        </td>
    </tr>
}
else
{
    <tr>
        <td>
            <div class="row align-items-center m-0">
                <div class="container-fluid col-sm-3">
                    <img src="@Model.Offer.OfferPreviewPicture" class="img float-left rounded w-100" />
                </div>
                <div class="col-sm">
                    <h3 class="m-0">@Model.Offer.OfferTitle</h3>
                    <dl class="row" style="line-height: 15px">
                        <dt class="col-sm-3">Adult</dt>
                        <dd class="col-sm-9">@Model.Offer.CostPerAdult$</dd>
                        <dt class="col-sm-3">Child</dt>
                        <dd class="col-sm-9">@Model.Offer.CostPerChild$</dd>
                        <dt class="col-sm-3">Max guests</dt>
                        <dd class="col-sm-9">@Model.Offer.MaxGuests</dd>
                    </dl>
                </div>
                <div class="btn-group-vertical btn-group-sm col-sm-2">
                    <button id="detachBtn_@Model.Offer.OfferID" type="button" class="btn btn-sm btn-outline-danger detachBtn">
                        <span class="fa fa-unlink"></span>
                        Detach from offer
                    </button>
                    <a class="btn btn-sm btn-primary" asp-controller="offers"
                       asp-action="@nameof(Hotel.Controllers.OffersController.Details)"
                       asp-route-offerID="@Model.Offer.OfferID">Details</a>
                </div>
            </div>
        </td>
    </tr>
}
