@model Hotel.Models.Offer
@{
    ViewData["Title"] = "Limitless offer";
}

<h1>@Model.OfferTitle</h1>

<div>
    @if (string.IsNullOrWhiteSpace(Model.OfferPreviewPicture))
    {
        <img class="img rounded preview-img" src="~/img/empty-offer-img.png" />
    }
    else
    {
        <img class="img rounded preview-img" src="data:image/png;base64,@Html.Raw(Model.OfferPreviewPicture)" />
    }

    <div>
        <small>@Html.Raw(Model.Description)</small>
    </div>
</div>
<hr />

<div class="flex">
    <dl class="row dl-compact">
        <dt class="col-sm-3">Active</dt>
        <dd class="col-sm-9">
            @if (Model.IsActive)
            {
                @:Yes
            }
            else
            {
                @:No
            }
        </dd>
        <dt class="col-sm-3">Adult</dt>
        <dd class="col-sm-9">@Model.CostPerAdult.ToString("F2") PLN</dd>
        <dt class="col-sm-3">Child</dt>
        <dd class="col-sm-9">@Model.CostPerChild.ToString("F2") PLN</dd>
        <dt class="col-sm-3">Max guests</dt>
        <dd class="col-sm-9">@Model.MaxGuests</dd>
    </dl>

    <dl class="row dl-compact">
        <dt class="col-sm-12 mb-2">Rooms</dt>
        <dd class="col-sm-auto">
            @if (Model.Rooms is null || !Model.Rooms.Any())
            {
                @:<p class="text-center">This offer contains no rooms.</p>
            }
            else
            {
                <ul class="list-inline">
                    @foreach (string room in Model.Rooms)
                    {
                        <li class="list-inline-item">@Html.Raw(room)</li>
                    }
                </ul>
            }
        </dd>
    </dl>
</div>
<hr />

<div>
    <h2 class="heading-section">Photos</h2>

    <div class="row">
        @if (Model.Pictures is null || !Model.Pictures.Any())
        {
            @:<p class="text-center">This offer contains no photos. Add some!</p>
        }
        else
            foreach (string picture in Model.Pictures)
            {
                <div class="col-sm-3">
                    <img class="img-thumbnail" src="data:image/png;base64,@Html.Raw(picture)">
                </div>
            }
    </div>
</div>
<hr />

<a class="btn btn-primary" asp-controller="Offers" asp-action="Edit" asp-route-offerID="@Model.OfferID">Edit offer</a>
