@model Hotel.ViewModels.OfferEditViewModel
@{
    ViewData["Title"] = Model.Offer.OfferTitle;
}

<h1>Edit @Model.Offer.OfferTitle</h1>
<hr />

<div>
    <label class="form-control-placeholder-static">Rooms</label>
    @if (Model.Offer.Rooms is null || !Model.Offer.Rooms.Any())
    {
        <p class="text-center">There are no rooms in this offer.</p>
    }
    else
    {
        <ul class="list-group">
            @foreach (string room in Model.Offer.Rooms)
            {
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    @Html.Raw(room)
                    <a href="#" class="ml-4 text-danger" data-toggle="tooltip" title="Detach room from this offer">
                        <span class="badge badge-pill">
                            <i class="fa fa-sm fa-unlink"></i>
                            Detach
                        </span>
                    </a>
                </li>
            }
        </ul>
    }
    <hr/>

    <form>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Room number</span>
                </div>
                <input type="text" class="form-control" />
                <div class="input-group-append">
                    <button type="submit" class="btn btn-primary">Add new room</button>
                </div>
            </div>
        </div>
    </form>
</div>
<hr />

<form asp-action="Edit" method="post">
    <!-- Active -->
    <!--<div class="form-group custom-control custom-checkbox">
        <input asp-for="IsActive" class="custom-control-input" />
        <label class="custom-control-label" for="activeCheckbox">
            Active
        </label>
    </div>-->
    <input asp-for="Offer.OfferID" hidden />
    <input asp-for="Offer.IsActive" hidden class="custom-control-input" />
    <br />

    <!-- Title -->
    <div class="form-group">
        <input asp-for="Offer.OfferTitle" class="form-control" placeholder="Offer name" />
        <label class="form-control-placeholder">Title</label>
    </div>
    <hr /><br />

    <!-- Description -->
    <div class="form-group">
        <textarea asp-for="Offer.Description" class="form-control" rows="4" placeholder="Write something about this offer!"></textarea>
        <label class="form-control-placeholder">Description</label>
    </div>
    <hr /><br />

    <!-- Preview PIC -->
    <div class="form-group">
        <div class="custom-control custom-checkbox">
            <input asp-for="ChangePreviewPicture" class="custom-control-input" />
            <label class="custom-control-label" for="@Html.IdFor(o => o.ChangePreviewPicture)">Change preview picture</label>
        </div>
        <div class="form-row">
            <input asp-for="Offer.OfferPreviewPicture" type="file" disabled class="form-control col-sm-4" />
            <label class="form-control-placeholder-file">Preview picture</label>
            <div id="previewGallery">
                @if (!(Model.Offer.OfferPreviewPicture is null) && !string.IsNullOrWhiteSpace(Model.Offer.OfferPreviewPicture))
                {
                    <img src="data:image/png;base64,@Html.Raw(Model.Offer.OfferPreviewPicture)" class="gallery-img" />
                }
            </div>
        </div>
    </div>
    <hr /><br />

    <!-- Additinal PICS-->
    <div class="form-group">
        <div class="custom-control custom-checkbox">
            <input asp-for="ChangeOfferPictures" class="custom-control-input" />
            <label class="custom-control-label" for="@Html.IdFor(o => o.ChangeOfferPictures)">Change additional pictures</label>
        </div>
        <div class="form-row">
            <input asp-for="Offer.Pictures" type="file" multiple disabled class="form-control col-sm-4" />
            <label class="form-control-placeholder-file">Additional pictures</label>
            <div id="additionalGallery">
                @if (!(Model.Offer.Pictures is null))
                {
                    foreach (string pic in Model.Offer.Pictures)
                    {
                        @:<img src="data:image/png;base64,@Html.Raw(pic)" class="gallery-img" />
                    }
                }
            </div>
        </div>
    </div>
    <hr />

    <div class="row">
        <button type="submit" class="btn btn-primary m-1">Save</button>
        <button type="button" class="btn btn-outline-danger m-1">Deactivate</button>
        <button type="button" class="btn btn-danger m-1 ml-auto">Remove offer</button>
    </div>
</form>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            var previewPicInput = document.getElementById('@Html.IdFor(o => o.Offer.OfferPreviewPicture)');
            var previewPicChckbox = document.getElementById('@Html.IdFor(o => o.ChangePreviewPicture)');
            var previewGalleryDiv = document.getElementById('previewGallery');

            var additionalPicsInput = document.getElementById('@Html.IdFor(o => o.Offer.Pictures)');
            var additionalPicsChckbox = document.getElementById('@Html.IdFor(o => o.ChangeOfferPictures)');
            var additionalGalleryDiv = document.getElementById('additionalGallery');

            var previewDivHtml = previewGalleryDiv.innerHTML;
            var additionalDivHtml = additionalGalleryDiv.innerHTML;

            previewPicChckbox.onclick = function () { switchEnabled(previewPicChckbox, previewPicInput, previewGalleryDiv, previewDivHtml); };
            previewPicInput.onchange = function () { previewGallery(previewPicInput, previewGalleryDiv); };
            additionalPicsChckbox.onclick = function () { switchEnabled(additionalPicsChckbox, additionalPicsInput, additionalGalleryDiv, additionalDivHtml); };
            additionalPicsInput.onchange = function () { previewGallery(additionalPicsInput, additionalGalleryDiv); };

            // preview selected images in gallery
            function previewGallery(inputElement, gallery) {
                var count = inputElement.files.length;

                gallery.innerHTML = '';
                for (i = 0; i < count; i++) {
                    var urls = URL.createObjectURL(inputElement.files[i]);
                    gallery.innerHTML +=
                        `<img src="` + urls + `" class="gallery-img" />`;
                }
            }

            // checkbox controlling element's enabled/disabled attribute
            // and gallery content
            function switchEnabled(checkbox, inputElement, gallery, defaultGalleryHtml) {
                if (checkbox.checked == true) {
                    inputElement.value = '';
                    inputElement.disabled = false;
                    gallery.innerHTML = '';
                } else {
                    inputElement.value = '';
                    inputElement.disabled = true;
                    gallery.innerHTML = defaultGalleryHtml;
                }
            }
        })
    </script>
}
