@model Hotel.ViewModels.OffersIndexViewModel
@{
    ViewData["Title"] = "Offers";
}

<h1 class="ml-4 col-sm-auto">Your offers</h1>
<hr />
<div class="row">
    <form asp-action="Index" method="get" id="filterForm" class="row">
        <div class="form-group col-sm-4 m-3">
            @Html.DropDownListFor(vm => vm.IsActive,
                new SelectList(
                    new[]
                    {
                        new { Value = "", Text = "All offers"},
                        new { Value = true.ToString(), Text = "Active only"},
                        new { Value = false.ToString(), Text = "Inactive only"}
                    }, "Value", "Text", Model.IsActive
                ),
                new { @class = "form-control" }
            )
            <label class="form-control-placeholder">Filter</label>
        </div>
        <div class="form-group col-sm-4 m-3">
            @Html.DropDownListFor(vm => vm.Paging.PageSize,
                new SelectList(
                    new[]
                    {
                        new { Value = "5", Text = "5"},
                        new { Value = "10", Text = "10"},
                        new { Value = "20", Text = "20"},
                        new { Value = "50", Text = "50"}
                    }, "Value", "Text", Model.Paging.PageSize
                ),
                new { @class = "form-control" }
            )
            <label class="form-control-placeholder">Entries per page</label>
        </div>

        <input asp-for="Paging.PageNumber" id="pageNumber" hidden />

        <div class="form-group col-sm-1 m-3">
            <button type="submit" id="applyBtn" class="btn btn-primary">Apply</button>
        </div>
    </form>
</div>

@if (Model.OfferPreviews is null || !Model.OfferPreviews.Any())
{
    <p class="text-center">List is empty.</p>
}
else
{
    <table class="table table-striped">
        <tbody>
            @foreach (OfferPreview offer in Model.OfferPreviews)
            {
                <tr>
                    <td>
                        <div class="row align-items-center m-0">
                            <div class="container-fluid col-sm-3">
                                @if (string.IsNullOrWhiteSpace(offer.OfferPreviewPicture))
                                {
                                    <img src="~/img/empty-offer-img.png" class="img float-left rounded w-50" />
                                }
                                else
                                {
                                    <img src="@Html.Raw(offer.OfferPreviewPicture)" class="img float-left rounded w-50" />
                                }
                            </div>
                            <div class="col-sm">
                                <h3 class="m-0">@Html.Raw(offer.OfferTitle)</h3>
                                <dl class="row dl-compact">
                                    <dt class="col-sm-3">Adult</dt>
                                    <dd class="col-sm-9">@offer.CostPerAdult.ToString("F2") PLN</dd>
                                    <dt class="col-sm-3">Child</dt>
                                    <dd class="col-sm-9">@offer.CostPerChild.ToString("F2") PLN</dd>
                                    <dt class="col-sm-3">Max guests</dt>
                                    <dd class="col-sm-9">@Html.Raw(offer.MaxGuests)</dd>
                                    <dt class="col-sm-3">Active</dt>
                                    <dd class="col-sm-9">
                                        @if (offer.IsActive)
                                        {
                                            @:Yes
                                        }
                                        else
                                        {
                                            @:No
                                        }
                                    </dd>
                                </dl>
                            </div>

                            <form asp-action="@nameof(Hotel.Controllers.OffersController.ChangeActive)"
                                asp-route-offerID="@offer.OfferID"
                                asp-route-isActive="@(!offer.IsActive)" method="post" id="changeActiveForm_@offer.OfferID" class="changeActiveForm">
                            </form>

                            <div class="btn-group-vertical btn-group-sm col-sm-2">
                                @if (offer.IsActive)
                                {
                                    <button class="btn btn-outline-danger" form="changeActiveForm_@offer.OfferID">Deactivate</button>
                                }
                                else
                                {
                                    <button class="btn btn-outline-success" form="changeActiveForm_@offer.OfferID">Activate</button>
                                }
                                <a class="btn btn-sm btn-primary" asp-action="@nameof(Hotel.Controllers.OffersController.Details)" asp-route-offerID="@offer.OfferID">Details</a>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<nav aria-label="Offers pages">
    <ul class="pagination justify-content-center">
        <li class="page-item
            @if (Model.Paging.PageNumber < 2)
            {
                @:disabled
            }
        ">
            <button id="prevPageBtn" class="page-link" aria-label="Previous">
                <span class="fa fa-chevron-left"></span>
            </button>
        </li>

        <li class="page-item"><a class="page-link">@Model.Paging.PageNumber</a></li>

        <li class="page-item
            @if (Model.OfferPreviews.Count() < Model.Paging.PageSize)
            {
                @:disabled
            }
        ">
            <button id="nextPageBtn" class="page-link" aria-label="Next">
                <span class="fa fa-chevron-right"></span>
            </button>
        </li>
    </ul>
</nav>
<hr />
<a class="btn btn-success" asp-action="@nameof(Hotel.Controllers.OffersController.Add)">Add new offer</a>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            var form = document.getElementById('filterForm');
            var pageNumElem = document.getElementById('pageNumber');
            document.getElementById('nextPageBtn').onclick = function () {
                pageNumElem.value = parseInt(pageNumElem.value) + 1;
                form.submit();
            };
            document.getElementById('prevPageBtn').onclick = function () {
                pageNumElem.value = parseInt(pageNumElem.value) - 1;
                form.submit();
            };
            document.getElementById('applyBtn').onclick = function () {
                pageNumElem.value = 1;
            };
        });
    </script>
}
