@using Client_Module.ViewsTagID.Search;
@model HotelDetailsModel;
@{
    ViewData["Title"] = "Hotel details";
    HotelDetailsTagID tagIDs = new HotelDetailsTagID();
}

<div class="w-100 shadow-border bg-light p-4" id="@tagIDs.LoadingDataDivID">
    <img class="d-block mx-auto" style="width: 75px" src="~/resources/loading.gif" />
    <p class="text-center h5 mt-2">Loading hotel data...</p>
</div>

<div class="w-100 shadow-border bg-light p-4 d-none" id="@tagIDs.MainContentDivID">
    <div class="text-center">
        <h1 class="display-5" style="font-weight: 400">
            <i id="@tagIDs.HotelNameTextID">[Hotel name]</i>
        </h1>
    </div>
    <hr />
    <div class="text-center">
        <h1 class="font-weight-light">A little more about us</h1>
    </div>
    <p class="m-0 px-4 mt-4 text-justify" id="@tagIDs.HotelDescriptionTextID">
        [a long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long hotel description]
    </p>
    <hr class="my-3" />
    <div class="text-center">
        <h1 class="font-weight-light">Where can you find us?</h1>
    </div>
    <ul class="mt-4" style="list-style-type: none; font-size: 20px">
        <li class="m-2 text-align-center">
            <i class="mr-1 fas fa-globe-americas" style="color: gray"></i>
            <span>Country:  </span>
            <span style="font-weight: 500" id="@tagIDs.CountryTextID">[Country name]</span>
        </li>
        <li class="m-2 text-align-center">
            <i class="mr-1 fas fa-city" style="color: gray"></i>
            <span>City: </span>
            <span style="font-weight: 500" id="@tagIDs.CityTextID">[City name]</span>
        </li>
    </ul>
    <hr class="my-3" />
    <a class="d-block mx-auto w-50 my-2 btn btn-info shadow-border font-weight-bold" href="/hotels/@Model.HotelID/offers">Show offers<i class="ml-2 fas fa-chevron-right"></i></a>
    <div class="mx-auto my-4 border-0 rounded picture-carousel-display shadow-border">
        <div class="d-flex flex-row h-100">
            <div class="flex-grow-0 h-100">
                <button class="btn btn-secondary h-100 rounded-right-0 p-0" style="width: 35px;" id="@tagIDs.PreviousCarouselPictureBtnID">
                    <i class="fas fa-2x fa-chevron-left"></i>
                </button>
            </div>
            <div class="flex-grow-1 h-100 bg-light">
                <img class="d-block mx-auto carousel-picture" id="@tagIDs.CarouselPictureImgID" src="~/resources/stock-photo-online-booking-concept.jpg" />
            </div>
            <div class="flex-grow-0 h-100">
                <button class="btn btn-secondary h-100 rounded-left-0 p-0" style="width: 35px" id="@tagIDs.NextCarouselPictureBtnID">
                    <i class="fas fa-2x fa-chevron-right"></i>
                </button>
            </div>
        </div>
    </div>
    <hr class="my-3" />
</div>

@section Scripts{
    <script src="~/js/Search/HotelDetails/hotelDetailsManager.js"></script>
    <script>
        $(document).ready(function () {
            var apiConfig = {
                apiBaseUrl: "@ServerApiConfig.BaseUrl",
                apiTokenCookieName: "@ClientTokenCookieDefaults.AuthCookieName",
                apiTokenHeaderName: "@ServerApiConfig.TokenHeaderName"
            };
            var hotelDetailsManager = new HotelDetailsManager(apiConfig);
            hotelDetailsManager.getHotelDetails(@Model.HotelID).then(function (data) {
                $("#@tagIDs.LoadingDataDivID").addClass("d-none");
                $("#@tagIDs.MainContentDivID").removeClass("d-none");
                $("#@tagIDs.HotelNameTextID").text(data.hotelName);
                $("#@tagIDs.HotelDescriptionTextID").text(data.hotelDescription);
                $("#@tagIDs.CountryTextID").text(data.country);
                $("#@tagIDs.CityTextID").text(data.city);
                carouselPictures = [];
                var carouselPictureImg = $("#@tagIDs.CarouselPictureImgID");
                carouselPictureImg.attr("src", null);
                if (data.hotelPictures.length === 0) {
                    DisplayPicture(null);
                    return;
                }
                carouselPictures = data.hotelPictures;
                DisplayPicture(0);
            }).catch(function (error) {
                var loadingDataDiv = $("#@tagIDs.LoadingDataDivID");
                loadingDataDiv.empty();
                loadingDataDiv.append(
                    $("<p>").attr("class", "text-center text-danger h3").text(Error),
                    $("<p>").attr("class", "text-center text-danger h5").text(error.message)
                );
            });

            var carouselPictures = [];
            var currentPictureIdx = -1;
            function DisplayPicture(index) {
                var carouselPictureImg = $("#@tagIDs.CarouselPictureImgID");
                if (index === null) {
                    carouselPictureImg.attr("src", "~/resources/stock-photo-online-booking-concept.jpg");
                    return;
                }
                if (index < 0 || index >= carouselPictures.length) {
                    throw new RangeError("index");
                }
                currentPictureIdx = index;
                carouselPictureImg.attr("src", carouselPictures[index]);
            }

            $("#@tagIDs.NextCarouselPictureBtnID").on('click', function () {
                DisplayPicture((currentPictureIdx + 1) % carouselPictures.length);
            });
            $("#@tagIDs.PreviousCarouselPictureBtnID").on('click', function () {
                DisplayPicture((carouselPictures.length + currentPictureIdx - 1) % carouselPictures.length);
            })
        });
    </script>
}