@model Hotel.ViewModels.HotelEditViewModel
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit your profile</h1>
<hr />
<br />

<form asp-action="@nameof(Hotel.Controllers.ProfileController.Edit)" method="post" id="editProfileForm">
    <!-- Title -->
    <div class="form-group">
        <input asp-for="HotelInfo.HotelName" value="@Model.HotelInfo.HotelName" class="form-control" placeholder="Hotel name" />
        <label asp-for="HotelInfo.HotelName" class="form-control-placeholder">Name</label>
    </div>
    <hr /><br />

    <!-- Desc -->
    <div class="form-group">
        <textarea asp-for="HotelInfo.HotelDesc" class="form-control" rows="4" placeholder="Write something about this place...  ">@Model.HotelInfo.HotelDesc</textarea>
        <label asp-for="HotelInfo.HotelDesc" class="form-control-placeholder">Description</label>
    </div>
    <hr /><br />

    <!-- Preview PIC -->
    <div class="form-group">
        <div class="custom-control custom-checkbox">
            <input asp-for="ChangePreviewPicture" class="custom-control-input" />
            <label asp-for="ChangePreviewPicture" class="custom-control-label">Change preview picture</label>
        </div>
        <div class="form-row">
            <input asp-for="HotelInfo.HotelPreviewPicture" type="file" disabled class="form-control col-sm-4" />
            <label asp-for="HotelInfo.HotelPreviewPicture" class="form-control-placeholder-file">Preview picture</label>
            <div id="previewGallery"></div>
        </div>
        <a href="~/img/dubai.jpg">Current picture</a>
    </div>
    <hr /><br />

    <!-- Additional PICS-->
    <div class="form-group">
        <div class="custom-control custom-checkbox">
            <input asp-for="ChangeHotelPictures" class="custom-control-input" />
            <label asp-for="ChangeHotelPictures" class="custom-control-label">Change additional pictures</label>
        </div>
        <div class="form-row">
            <input asp-for="HotelInfo.HotelPictures" type="file" multiple disabled class="form-control col-sm-4" />
            <label asp-for="HotelInfo.HotelPictures" class="form-control-placeholder-file">Additional pictures</label>
            <div id="additionalGallery"></div>
        </div>
    </div>
    <hr />

    <button type="submit" class="btn btn-success">Save</button>
    <div id="loader" class="loader"></div>
</form>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            var previewPicInput = document.getElementById('@Html.IdFor(he => he.HotelInfo.HotelPreviewPicture)');
            var previewPicChckbox = document.getElementById('@Html.IdFor(he => he.ChangePreviewPicture)');
            var previewGalleryDiv = document.getElementById('previewGallery');

            var additionalPicsInput = document.getElementById('@Html.IdFor(he => he.HotelInfo.HotelPictures)');
            var additionalPicsChckbox = document.getElementById('@Html.IdFor(he => he.ChangeHotelPictures)');
            var additionalGalleryDiv = document.getElementById('additionalGallery');

            var previewDivHtml = previewGalleryDiv.innerHTML;
            var additionalDivHtml = additionalGalleryDiv.innerHTML;

            previewPicChckbox.onclick = function () { switchEnabled(previewPicChckbox, previewPicInput, previewGalleryDiv, previewDivHtml); };
            previewPicInput.onchange = function () { previewGallery(previewPicInput, previewGalleryDiv); };
            additionalPicsChckbox.onclick = function () { switchEnabled(additionalPicsChckbox, additionalPicsInput, additionalGalleryDiv, additionalDivHtml); };
            additionalPicsInput.onchange = function () { previewGallery(additionalPicsInput, additionalGalleryDiv); };

            let loader = document.getElementById("loader");

            let form = document.getElementById('editProfileForm');
            form.onsubmit = async function (e) {
                e.preventDefault();
                let formData = new FormData(form);
                let previewPicString = '@Html.NameFor(hi => hi.HotelInfo.HotelPreviewPicture)';
                let picsString = '@Html.NameFor(hi => hi.HotelInfo.HotelPictures)';

                let previewPic = formData.get(previewPicString);
                let previewPic64 = await get64BaseString(previewPic);
                if (previewPic64) {
                    formData.set(previewPicString, previewPic64);           // .set() overrides value
                }

                let pics = formData.getAll(picsString);
                formData.delete(picsString);
                for (const pic of pics) {
                    let pic64 = await (get64BaseString(pic));
                    if (pic64) {
                        formData.append(picsString, pic64);
                    }
                }

                await fetchSend(
                    null,
                    '@Url.Action(nameof(Hotel.Controllers.ProfileController.Edit))',
                    'POST',
                    formData,
                    "Profile edited successfully!",
                    '@Url.Action(nameof(Hotel.Controllers.OffersController.Index))',
                    loader
                );
            };

        });
    </script>
}